.footer {
  background: linear-gradient(0.68deg, #40C4B0 64.04%, #8DE5D8 126.4%);
}

.bith-bg {
  background: linear-gradient(351.61deg, #40C4B0 27.94%, #8DE5D8 113.99%);
}

.bith-font {
  font-size: 13px;
  color: #40C4B0 !important;
}